#map {
  height: 100vh;
  width: 100vw;
  position: relative;
}

body {
  margin: 0;
}

#filter {
  min-width: 240px;
  position: absolute;
  top: 115px;
  left: 10px;
  z-index: 1;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.content {
  margin-top: 80px !important;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 70px 0px 0 10px !important;
}
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 33.3333%;
  height: 36px;
  font-size: 15px;
  line-height: 20px;
}
input.mapboxgl-ctrl-geocoder--input {
  height: 36px;
}
svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  height: 18px;
}


.info-window {
  position: absolute;
  top: 10%;
  height: 80vh;
  right: 1%;
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 8px 1px #969696;
  /* padding: 0.25rem 0.375rem; */
  border-radius: 4px;
  z-index: 1;
  transition: all .5s linear;
}

.info-window .toggle-button {
  position: absolute;
  top: 4%;
  left: -6%;
  background: white;
  padding: 3px 8px;
  border-radius: 50%;
  color: black;
  box-shadow: 0px 0px 3px 1px #969696;
  cursor: pointer;
}

.info-window.closed {
  right: -300px;
}

.info-window.closed .toggle-button {
  left:-10%;
}

.info-window .toggle-button span:first-child {
  display: block;
}

.info-window .toggle-button span:last-child {
  display: none;
}

.info-window.closed .toggle-button span:first-child {
  display: none;
}

.info-window.closed .toggle-button span:last-child {
  display: block;
}

.info-window .info-header {
  background: #6b20d6;
  color: white;
  text-align: center;
  padding: 4px 2px;
  border-radius: 4px 4px 0px 0px;
}

.info-header h4 {
  font-size: 1em;
  margin: 0;
}

.info-body {
  padding: 0.25rem 0.375rem;
}

.layer-title {
  color: #6b20d6;
  font-weight: 600;
}
.feature-line {
  width: 25px;
  height: 2px;
  margin-right: 4px;
}

.collapse-legend {
  margin-left: 10px;
}

.collapse-legend div {
  align-items: center;
}

.info-window .info-footer {
  text-align: center;
    position: absolute;
    bottom: 2%;
    width: 60%;
    margin-left: 20%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapboxgl-popup-content {
  max-width: 450px;
  width: 400px;
}

.popup-content {

}

.popup-content .popup-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25em;
}

@media (max-width: 480px) {
  .info-window {
    top: 15%;
    height: 80vh;
    right: 3%;
  }

  .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    width: 300px;
    height: 36px;
    font-size: 15px;
    line-height: 20px;
  }

  .mapboxgl-ctrl-top-left {
    top: 0;
    right: 3%;
    left: auto;
  }

}